<ion-content padding>
  <ng-container *ngIf="usuario !== null" >
  
    <ion-card mode="ios" appAnimatecss>
        <ion-card-content>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="3">
                        <ion-img *ngIf="usuario.sexo === 'hombre'" src="assets/icon/boy.png"></ion-img>
                        <ion-img *ngIf="usuario.sexo === 'mujer'" src="assets/icon/girl.png"></ion-img>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col> 
                    <ion-card color="primary" class="card-text-title">
                      <ion-card-content fxLayoutAlign="center" >
                          <ion-label >{{ usuario.nombre }}</ion-label>
                      </ion-card-content>
                    </ion-card>                    
                  </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-grid fixed  appAnimatecss>
      <!-- 1ra fila -->
      <ion-row>
        <ion-col size="6">
            <ion-card (click)="navegacion('/tabs/tab4')" color="primary">
                <ion-card-content fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/icon/control.png" class="img-circle">
                    <ion-text >Crecimiento</ion-text>
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card  color="secondary">
                <ion-card-content fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/icon/micronutrientes.png" class="img-circle">
                    <ion-text>Micronutrientes</ion-text>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
      <!-- 2da fila -->
      <ion-row>
        <ion-col size="6">
            <ion-card  color="tertiary">
                <ion-card-content fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/icon/vacuna.png" class="img-circle">
                    <ion-text>Vacuna</ion-text>
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card color="success"> 
                <ion-card-content fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/icon/calendario.png" class="img-circle">
                    <ion-text>Calendario</ion-text>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
      <!-- 3ra fila -->
      <ion-row>
        <ion-col size="12">
            <ion-card  color="warning"> 
                <ion-card-content fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/icon/alimentacion.png" class="img-circle">
                    <ion-text>Alimentacion</ion-text>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
